
/*===============
 Global Variables
 ===============*/

:root{
    /*Primary */
    --veryDarkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);

   /* Neutral */
   --darkGrayishMagenta: hsl(303, 10%, 53%);
   --lightGrayishMagenta: hsl(300, 24%, 96%);
   --white: hsl(0, 0%, 100%);

   /* Font sizes */
   --generalSize: 15px;
   --smallerSize: 10px;

   /* Font weights*/
   --topWeight: 1000;
   --middleWeight: 500;
   --lightWeight: 400;

}

/*===============
 Media Quieres
 ===============*/


@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .row, .column, .flex-container {
      width:100%;
    }
  }

/*===============
 Layout & Components
 ===============*/

body{
    margin: 0;
    font-family: 'Spartan', sans-serif;
}

.bgTop{
    background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: 50px -1px, right; /*600px 150px*/
    background-size: auto,100vh;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }


.flex-container{
    display: flex;
    justify-content: center;
    align-content: space-between;

}

.main-card{
    height: 250px;
    width: 375px;
    background-color: var(--veryDarkMagenta);
    box-shadow: 5px 10px 18px #b8b5b5;
    border-radius: 5px;
    margin-top: 500px;
    margin-right: 40px;
    position: relative;
   
    
}

.main-card:nth-child(1){
    bottom:500px;
}

.main-card:nth-child(2){
    bottom:450px;
}

.main-card:nth-child(3){
    bottom:400px;
}

.flex-review{
    display: flex;
    flex-direction: column;
    align-items: flex-end; 

}

.review-card{
    height: 60px;
    width: 450px;
    background-color: var(--lightGrayishMagenta);
    box-shadow: 5px 10px 18px #b8b5b5;
    border-radius: 5px; 
    margin-right: 100px;
    margin-top: 20px;
    position: relative;
}

.review-card:nth-child(1) {
    left: 600px;
    top:150px;
  }
  
  .review-card:nth-child(2) {
    left: 700px;
    top:150px;
  }

  .review-card:nth-child(3) {
    left: 800px;
    top:150px;
  }

  .addCopy-container{
    height: 300px;
    width: 500px;
    background-color: var(--white);
    border-radius: 5px;
    bottom: 200px;
    left: 80px;
    position: relative;
   
    
}

.star-container{
    display: flex;
    align-items: flex-start;
    align-content: space-between;
    margin-top: 25px;
    margin-left: 30px;

}

.reviewsText-container{
    display: flex;
    margin-left: 25px;
    margin-bottom: 100px;
    margin-top: -10px;
    position: relative;
}

.profilePic-container{
    display: flex;
    align-items: flex-start;
    align-content: space-between;
    margin-top: 25px;
    margin-left: 30px;
    

}

.profile-img{
    border-radius: 50px;
}

.userName-container{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-bottom: 100px;
    margin-top: -10px;
    position: relative;
}

.verified-buyer{
    display: inline;
    margin-top: -28px;
}

.user-comment{
    display: flex;
    position: relative;
    margin-top: -70px;
    margin-left: 25px;
    width: 325px;
}

  /*===============
 Typography
 ===============*/

 h1{
     font-size: 60px;
     font-weight: var(--topWeight);
     color: var(--veryDarkMagenta);
 }
 h3{
    font-size: 20px;
    font-weight: var(--middleWeight);
    color: var(--darkGrayishMagenta);

 }

 .review-text{
    color: var(--veryDarkMagenta);
    font-weight: var(--topWeight);
    font-size: 12px;
 }

 .user-name{
     font-size: var(--middleWeight);
     color: var(--white);
 }

 .buyer-text{
    font-size: var(--middleWeight);
    color: var(--softPink);
 }

 .user-commentText{
    font-size: var(--middleWeight);
    color: var(--white);
    font-size: 15px;
 }